# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore system files like .DS_Store (MacOS)
.DS_Store

# Ignore environment files (e.g., .env)
.env



# Ignore build directories
build/
dist/

# Ignore IDE or editor-specific files (e.g., for VSCode)
.vscode/

# Ignore test coverage files
coverage/

# Ignore temporary files
*.tmp
